* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.slider {
    width: 80%;
    max-width: 800px;
    max-height: fit-content;
    margin: 0 auto;
    position: relative;

    .slides {

        >img {
            max-width: 100%;
        }

        >img:not(.active) {
            display: none;
        }

    }

    .controls {
        position: absolute;
        top: 0;
        left: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        & button {
            margin: 1rem;
            color: rgba(50, 2, 2, 0.773);
            font-size: 40px;
            border: none;
            background: transparent;
        }
    }

    .thumbnails-container {
        position: absolute;
        flex-direction: column;
        width: 20%;
        height: 99%;
        right: 0;
        top: 0;

        & img {
            width: 100%;
            height: 20%;
            object-fit: cover;
            border: 2px solid white;

            &:not(.layer-active) {
                filter: brightness(0.4);
            }

            &.layer-active {
                transform: scale(1.2);
                box-shadow: 0 0 5px 3px rgb(255, 255, 255);
                z-index: 10;
                transition: 0.5s;
            }

        }

    }
}